* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

/* Parallax Website Started */
.first-div {
    background-image: url(./Assets/First-div-background.jfif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 125vh;
}
.first-div p:nth-last-of-type(1) {
   font-size: 6rem;
   background-color: #313534;
}
/* Parallax Website Ended */

/* Section One Started */
.second-container {
    padding: 0px 90px;
    background-color: #f4f4f4;
    padding-bottom: 75px;
}
.second-sub-container > p {
    font-size: 5rem;
    color: #666666;
}
/* Section One Ended */